  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <!-- COMPLETAR CON EL LLAMADO A UNA FUNCIÓN PROPIA QUE CALCULE EL RATING PROMEDIO -->
    <p>El rating promedio es <span class="badge text-bg-primary rounded-pill"> {{ratingPromedio}} </span></p>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    <div class="col-4" *ngFor="let anime of animes">

      <div class="card p-2 mb-2 mt-2" style="width: 15rem; height: 33rem;">

        
        <img class="card-img-top" src={{anime.img}}  alt="anime image" width=50px>

        <div class="card-body">
        <h5 class="card-title">{{anime.name}}</h5>
        <p>⭐{{anime.Rating}} <b>Categories: </b>{{anime.categorie}}</p>
        <!-- COMPLETAR PARA INCLUIR LA CANTIDAD DE TEMPORADAS -->
        <p class="card-text"><b># seasons: </b>{{anime.seasons.length}}</p>
        <button type="button" class="btn btn-primary" routerLink="/animes/{{anime.id}}">Más información</button>

        </div>
      </div>
   </div>

  </div>
</div>
